DJANGO_SETTINGS_MODULE=databridge.settings.dev

APP_NAME=DataBridge
APP_ENV=dev

DEBUG=True
SECRET_KEY=change-me
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000
TIME_ZONE=Europe/London

DATABASE_URL=sqlite:///db.sqlite3

TWELVEDATA_API_KEY=your_twelvedata_api_key_here
STREAMLIT_URL=http://127.0.0.1:8501
CCXT_EXCHANGE=binance